
body{
    background-image: url(./static/images/pattern.png);
    background-color: #a3a3a3;
    background-size: 100px;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.bookcover{
    background-color: rosybrown;
    position: relative;
    height: 650px;
    width: 1000px;
    top: 60px;
    left: 270px;
    border-radius : 5px;
}

.bookdot{
    background-color: rosybrown;
    position: absolute;
    border-style : dashed; color: white;
    height: 630px;
    width: 976px;
    top: 8px;
    left: 10px;
    border-radius : 5px;
}

.page{
    background-color: rosybrown;
    position: absolute;
    height: 620px;
    width: 966px;
    top: 5px;
    left: 5px;
    border-radius : 5px;
    display: flex;
}


.profile-container {
  flex: 0.4;
  margin-right: 1.5rem;

  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.menu-container {
  flex: 0.15;
}

.header {
  flex: 0.1;
}

.box {
  background-color: rosybrown;
  flex: 3;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
}

.content-title {
  display: flex;
  align-items: center;
}

.content-title-name {
  flex: 1;
}

.content-title-url {
  flex: 1;
  font-size: 0.5rem; /* 적용한 폰트 특성 상 사이즈가 커서 font-size 조정 */
  text-align: end; /* 텍스트 우측 정렬 */
}

.profile-title {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-red {
  color: saddlebrown;
}

.profile-box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.profile-image {
  flex: none;
}

.profile-image-img {
  width: 100%;
  height: 100%;
}

.profile-text {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.7;
  flex: 1;
}

.profile-username {
  flex: 0;
}

.content-box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* 메뉴 버튼 */
.menu-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.menu-container > a {
  padding: 6px;
  margin: 6px 0;
  background-color: indianred;
  border-bottom-right-radius: 6px; /* 우측 하단 border-radius 적용 */
  border-top-right-radius: 6px; /* 우측 상단 border-radius 적용 */
  border: 1px solid indianred;
  color: white;
  text-decoration: none;
  font-family: "NeoDunggeunmo";
  font-size: 0.85rem;
}

.menu-container > a:hover {
  background-color: #617dc1;
}

/* 파도타기 dropdown 기능 */
.profile-dropdown {
  flex: 0;
  border: 1px solid #c9d4da;
  padding: 5px;
  margin-top: 10px;
  font-size: 0.8rem;
  position: relative;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 5px solid #838383;
}

.profile-dropdown:hover > .dropdown-content {
  display: black;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dropdown-content > a {
  display: block;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 6px;
  color: black;
  text-decoration: none;
}

.dropdown-content > a:hover {
  background-color: #f1f1f1;
}
